@font-face{
    font-family: 'Raleway';
    src: url('../fonts/Raleway.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face{
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSansBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
